<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="suite 1" parallel="methods" thread-count="2">
    <parameter name="RRR" value="Salamander"/>
    <test name="test_1">
        <parameter name="hello" value="Salamander"/>
        <classes>
            <class name="org.example.ParametersTest"/>
        </classes>
    </test>
</suite>